<div id="footer">
<hr class="hidecss" />
<p>Back to the <a href="http://www.debian.org/../">Debian Project homepage</a>.</p>
<hr/>
<div id="footermap">
<!--UdmComment-->
<p><strong><a href="http://www.debian.org">Home</a></strong></p>
    <ul id="footermap-cola">
		<li><a href="http://www.debian.org/intro/about">About</a>
		  <ul>
		  <li><a href="http://www.debian.org/social_contract">Social&nbsp;Contract</a></li>
		  <li><a href="http://www.debian.org/intro/free">Free&nbsp;Software</a></li>
		  <li><a href="http://www.debian.org/partners/">Partners</a></li>
		  <li><a href="http://www.debian.org/donations">Donations</a></li>
		  <li><a href="http://www.debian.org/contact">Contact&nbsp;Us</a></li>
		  </ul>
		</li>
	</ul>
	<ul id="footermap-colb">
			<li><a href="http://www.debian.org/distrib/">Getting Debian</a>
			  <ul>
			  <li><a href="http://www.debian.org/CD/vendors/">CD vendors</a></li>
			  <li><a href="http://www.debian.org/CD/">CD ISO images</a></li>
			  <li><a href="http://www.debian.org/distrib/netinst">Network install</a></li>
			  <li><a href="http://www.debian.org/distrib/pre-installed">Pre-installed</a></li>
			  </ul>
			</li>
    <li><a href="http://www.debian.org/distrib/packages">Debian&nbsp;Packages</a></li>
	</ul>
	<ul id="footermap-colc">
		<li><a href="http://www.debian.org/News/">News</a>
		  <ul>
		  <li><a href="http://www.debian.org/News/project/">Project&nbsp;News</a></li>
		  <li><a href="http://www.debian.org/events/">Events</a></li>
		  </ul>
		</li>
    <li><a href="http://www.debian.org/doc/">Documentation</a>
      <ul>
      <li><a href="http://www.debian.org/releases/">Release&nbsp;Info</a></li>
      <li><a href="http://www.debian.org/releases/stable/installmanual">Installation&nbsp;manual</a></li>
      <li><a href="http://www.debian.org/doc/books">Debian&nbsp;Books</a></li>
      </ul>
    </li>
   </ul>
   <ul id="footermap-cold">
    <li><a href="http://www.debian.org/../support">Support</a>
	  <ul>
			  <li><a href="http://www.debian.org/international/">Debian&nbsp;International</a></li>
			  <li><a href="http://www.debian.org/security/">Security&nbsp;Information</a></li>
			  <li><a href="http://www.debian.org/Bugs/">Bug reports</a></li>
			  <li><a href="http://www.debian.org/MailingLists/">Mailing&nbsp;Lists</a></li>
			  <li><a href="http://www.debian.org/http://lists.debian.org/">Mailing&nbsp;List&nbsp;Archives</a></li>
			  <li><a href="http://www.debian.org/ports/">Ports/Architectures</a></li>
      </ul>
    </li>
</ul>
<ul id="footermap-cole">
    <li><a href="http://www.debian.org/../misc/">Miscellaneous</a></li>
    <li><a href="http://www.debian.org/../intro/help">Help Debian</a></li>
    <li><a href="http://www.debian.org/../devel/">Developers'&nbsp;Corner</a></li>
    <li><a href="http://www.debian.org/../sitemap">Site map</a></li>
    <li><a href="http://www.debian.org/http://search.debian.org/">Search</a></li>
</ul>
<!--/UdmComment-->
</div> <!-- end footermap -->
<div id="fineprint">
  <p>To report a problem with the web site, e-mail <a href="http://www.debian.org/mailto:debian-www@lists.debian.org">debian-www@lists.debian.org</a>. For other contact information, see the Debian <a href="http://www.debian.org/../contact">contact page</a>.</p>
<p>
Last Modified: Sun, Feb 21 14:06:46 UTC 2010
  <br />
  Copyright &copy; 1997-2010
 <a href="http://www.debian.org/http://www.spi-inc.org/">SPI</a>; See <a href="http://www.debian.org/../license" rel="copyright">license terms</a><br />
  Debian is a registered <a href="http://www.debian.org/../trademark">trademark</a> of Software in the Public Interest, Inc.
</p>
</div>
</div> <!-- end footer -->
</div>
